# Sentiment Analysis of Twitter Reviews

### Tasks
+ Text Preprocessing
+ Sentiment Analysis
+ Keyword Extraction
+ Entity Extarction

### Dataset:
+ TwitterAPI Extracted data of various Telecom companies of UK

Imports

In [1]:
### EDA pkg
import pandas as pd

### Data viz pkg
import matplotlib.pyplot as plt
import seaborn as sns

### Hide warnings
import warnings 
warnings.filterwarnings('ignore')

In [2]:
## Load Dataset
df = pd.read_csv('FinalCsv.csv', index_col = False)

###Preview
df.head()

,created_at,id,author_id,text,name,location,username
0,2022-03-03T19:39:40.000Z,4.849036e+09,4.849036e+09,@Corbo12Ian @paullewismoney @bt_uk Any phone w...,Simon the Smith 3.5%,Sarf East mate,Simstersnose
1,2022-03-03T19:39:33.000Z,2.132926e+07,2.132926e+07,Good to see big business know COVID is over wi...,Gemma Walton üíô,"Sunderland, UK",GemmaWalton76
2,2022-03-03T19:37:29.000Z,2.332033e+09,2.332033e+09,@MoggsyG @paullewismoney @bt_uk I'm totally co...,Miranda Whiting,NaN,MirandaWhiting
3,2022-03-03T19:36:42.000Z,4.849036e+09,4.849036e+09,@Julford57 @Essexisgreat @paullewismoney @bt_u...,Simon the Smith 3.5%,Sarf East mate,Simstersnose
4,2022-03-03T19:34:49.000Z,4.849036e+09,4.849036e+09,@paullewismoney @bt_uk The issue I have is tha...,Simon the Smith 3.5%,Sarf East mate,Simstersnose

In [3]:
### Some operation to know abt data
print(df.columns)
print(df.shape)
print(df.dtypes)

Index(['created_at', 'id', 'author_id', 'text', 'name', 'location',
       'username'],
      dtype='object')
(2359, 7)
created_at     object
id            float64
author_id     float64
text           object
name           object
location       object
username       object
dtype: object

## Text Preprocessing
### Tasks 
+ Remove Mentions / Hashtags 
+ ['remove_emails','remove_emojis',
 'remove_multiple_spaces','remove_puncts','remove_special_characters',
 'remove_stopwords','remove_urls','remove_userhandles']

In [55]:
### Text cleaning pkg
import neattext.functions as nfx
import re

### Methods and Attributes of neattext
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'word_freq',
 'word_length_freq']

In [56]:
df['text'].iloc[100]

"@MirandaWhiting I asked if I could go onto a broadband-only deal as I don't really use the landline. Yes of course, they replied. What will it cost? I asked. Exactly the same, I was told. BT: giving less for more (TM). @bt_uk"

In [59]:
## Function to clean text

# # def cleanText(text):
# df['clean_text'] = df['text'].apply(lambda x : x.lower())
# df['clean_text'] = df['clean_text'].apply(nfx.remove_userhandles)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_hashtags)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_emojis)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_urls)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_puncts)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_special_characters)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_multiple_spaces)
# df['clean_text'] = df['clean_text'].apply(lambda x : x.strip())

def cleanText(text):
    text = text.lower()
    text = nfx.remove_userhandles(text)
    text = nfx.remove_emojis(text)
    text = nfx.remove_urls(text)
    text = nfx.remove_puncts(text)
    text = nfx.remove_special_characters(text)
    text = nfx.remove_multiple_spaces(text)
    text = text.strip()
    text = re.sub(r'#','',text)
    return text

df['clean_text'] = df['text'].apply(cleanText)

In [60]:
# df[['text','clean_text']]

,text,clean_text
0,@Corbo12Ian @paullewismoney @bt_uk Any phone w...,any phone with the usual plug on it should wor...
1,Good to see big business know COVID is over wi...,good to see big business know covid is over wi...
2,@MoggsyG @paullewismoney @bt_uk I'm totally co...,im totally confused now we got a new modem the...
3,@Julford57 @Essexisgreat @paullewismoney @bt_u...,i think the masts have battery back up for a w...
4,@paullewismoney @bt_uk The issue I have is tha...,the issue i have is that all overseas calls sh...
...,...,...
2354,@VodafoneUK #LOVE - my beautiful ones ü•∞ https:...,love my beautiful ones
2355,"@VodafoneUK I #LOVE this one, which I took on ...",i love this one which i took on my oppo find x...
2356,@VodafoneUK Sent ‚úî,sent
2357,Looking forward to @bannockburnrfc in just ove...,looking forward to in just over a week lots of...
2358,@VodafoneUK I have. It shows December but the ...,i have it shows december but the guys on the p...

In [53]:
df['clean_text'][2355]

'i this one which i took on my oppo find x3 neo'

In [61]:
df

,created_at,id,author_id,text,name,location,username,clean_text
0,2022-03-03T19:39:40.000Z,4.849036e+09,4.849036e+09,@Corbo12Ian @paullewismoney @bt_uk Any phone w...,Simon the Smith 3.5%,Sarf East mate,Simstersnose,any phone with the usual plug on it should wor...
1,2022-03-03T19:39:33.000Z,2.132926e+07,2.132926e+07,Good to see big business know COVID is over wi...,Gemma Walton üíô,"Sunderland, UK",GemmaWalton76,good to see big business know covid is over wi...
2,2022-03-03T19:37:29.000Z,2.332033e+09,2.332033e+09,@MoggsyG @paullewismoney @bt_uk I'm totally co...,Miranda Whiting,NaN,MirandaWhiting,im totally confused now we got a new modem the...
3,2022-03-03T19:36:42.000Z,4.849036e+09,4.849036e+09,@Julford57 @Essexisgreat @paullewismoney @bt_u...,Simon the Smith 3.5%,Sarf East mate,Simstersnose,i think the masts have battery back up for a w...
4,2022-03-03T19:34:49.000Z,4.849036e+09,4.849036e+09,@paullewismoney @bt_uk The issue I have is tha...,Simon the Smith 3.5%,Sarf East mate,Simstersnose,the issue i have is that all overseas calls sh...
...,...,...,...,...,...,...,...,...
2354,2022-02-22T12:02:12.000Z,1.281592e+09,1.281592e+09,@VodafoneUK #LOVE - my beautiful ones ü•∞ https:...,Rachael,Londonish,TheBendySlow,love my beautiful ones
2355,2022-02-22T11:53:46.000Z,1.004148e+09,1.004148e+09,"@VodafoneUK I #LOVE this one, which I took on ...",Emily K,Bristol,EmilyK1983,i love this one which i took on my oppo find x...
2356,2022-02-22T11:32:03.000Z,1.070000e+18,1.070000e+18,@VodafoneUK Sent ‚úî,Paul üöÅ,"Aberdeenshire, Scotland",abzpaul,sent
2357,2022-02-22T11:14:25.000Z,1.390000e+18,1.390000e+18,Looking forward to @bannockburnrfc in just ove...,THE RUGBY WINE CLUB üèâüç∑,"England, United Kingdom",TRWCwine,looking forward to in just over a week lots of...
2358,2022-02-22T11:05:05.000Z,1.070000e+18,1.070000e+18,@VodafoneUK I have. It shows December but the ...,Paul üöÅ,"Aberdeenshire, Scotland",abzpaul,i have it shows december but the guys on the p...