# Sentiment Analysis of Twitter Reviews

### Tasks
+ Text Preprocessing
+ Sentiment Analysis
+ Keyword Extraction
+ Entity Extarction

### Dataset:
+ TwitterAPI Extracted data of various Telecom companies of UK

Imports

In [84]:
### EDA pkg
import pandas as pd

### Data viz pkg
import matplotlib.pyplot as plt
import seaborn as sns

### Hide warnings
import warnings 
warnings.filterwarnings('ignore')

In [85]:
## Load Dataset
df = pd.read_csv('FinalCsv.csv', index_col = False)

###Preview
df.head()

,created_at,id,author_id,text,name,location,username
0,2022-03-03T19:39:40.000Z,4.849036e+09,4.849036e+09,@Corbo12Ian @paullewismoney @bt_uk Any phone w...,Simon the Smith 3.5%,Sarf East mate,Simstersnose
1,2022-03-03T19:39:33.000Z,2.132926e+07,2.132926e+07,Good to see big business know COVID is over wi...,Gemma Walton ðŸ’™,"Sunderland, UK",GemmaWalton76
2,2022-03-03T19:37:29.000Z,2.332033e+09,2.332033e+09,@MoggsyG @paullewismoney @bt_uk I'm totally co...,Miranda Whiting,NaN,MirandaWhiting
3,2022-03-03T19:36:42.000Z,4.849036e+09,4.849036e+09,@Julford57 @Essexisgreat @paullewismoney @bt_u...,Simon the Smith 3.5%,Sarf East mate,Simstersnose
4,2022-03-03T19:34:49.000Z,4.849036e+09,4.849036e+09,@paullewismoney @bt_uk The issue I have is tha...,Simon the Smith 3.5%,Sarf East mate,Simstersnose

In [86]:
### Some operation to know abt data
print(df.columns)
print(df.shape)
print(df.dtypes)

Index(['created_at', 'id', 'author_id', 'text', 'name', 'location',
       'username'],
      dtype='object')
(2359, 7)
created_at     object
id            float64
author_id     float64
text           object
name           object
location       object
username       object
dtype: object

## Text Preprocessing
### Tasks 
+ Remove Mentions / Hashtags 
+ ['remove_emails','remove_emojis',
 'remove_multiple_spaces','remove_puncts','remove_special_characters',
 'remove_stopwords','remove_urls','remove_userhandles']

In [87]:
### Text cleaning pkg
import neattext.functions as nfx
import re

### Methods and Attributes of neattext
# dir(nfx)

In [88]:
## Function to clean text

# # def cleanText(text):
# df['clean_text'] = df['text'].apply(lambda x : x.lower())
# df['clean_text'] = df['clean_text'].apply(nfx.remove_userhandles)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_hashtags)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_emojis)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_urls)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_puncts)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_special_characters)
# df['clean_text'] = df['clean_text'].apply(nfx.remove_multiple_spaces)
# df['clean_text'] = df['clean_text'].apply(lambda x : x.strip())

def cleanText(text):
    text = text.lower()
    text = nfx.remove_userhandles(text)
    text = nfx.remove_emojis(text)
    text = nfx.remove_urls(text)
    text = nfx.remove_puncts(text)
    text = nfx.remove_special_characters(text)
    text = nfx.remove_multiple_spaces(text)
    text = text.strip()
    text = re.sub(r'#','',text)
    return text

df['clean_text'] = df['text'].apply(cleanText)

In [89]:
df[['text','clean_text']]

,text,clean_text
0,@Corbo12Ian @paullewismoney @bt_uk Any phone w...,any phone with the usual plug on it should wor...
1,Good to see big business know COVID is over wi...,good to see big business know covid is over wi...
2,@MoggsyG @paullewismoney @bt_uk I'm totally co...,im totally confused now we got a new modem the...
3,@Julford57 @Essexisgreat @paullewismoney @bt_u...,i think the masts have battery back up for a w...
4,@paullewismoney @bt_uk The issue I have is tha...,the issue i have is that all overseas calls sh...
...,...,...
2354,@VodafoneUK #LOVE - my beautiful ones ðŸ¥° https:...,love my beautiful ones
2355,"@VodafoneUK I #LOVE this one, which I took on ...",i love this one which i took on my oppo find x...
2356,@VodafoneUK Sent âœ”,sent
2357,Looking forward to @bannockburnrfc in just ove...,looking forward to in just over a week lots of...
2358,@VodafoneUK I have. It shows December but the ...,i have it shows december but the guys on the p...

In [90]:
### before Text Cleaning
df['text'].iloc[100]

"@MirandaWhiting I asked if I could go onto a broadband-only deal as I don't really use the landline. Yes of course, they replied. What will it cost? I asked. Exactly the same, I was told. BT: giving less for more (TM). @bt_uk"

In [91]:
### After Text Cleaning
df['clean_text'].iloc[100]

'i asked if i could go onto a broadbandonly deal as i dont really use the landline yes of course they replied what will it cost i asked exactly the same i was told bt giving less for more tm'